<h1>USER INDEX</h1>

<table>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.fname + " " + user.lname %></td>
			<td><%= link_to 'Edit', edit_user_path(user.id) %></td>
			<td><%= link_to 'Delete', user, data: { confirm: "Are you sure?" }, method: :delete %></td>
		</tr>
	<% end %>
</table>